.DS_Store
*.local
*.log*
*.env*
!.env.example
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.lock
package-lock.json
node_modules
coverage
build
dist
logs
lib
.docz
.cache
.vercel
.vscode
.idea
.yarn
.vite
.obsidian
